
.home-page {
    display: grid;
    grid-template-rows: 100px auto 30px;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    background: image_url("tower2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
    position: relative;
}

.splash-container{
    grid-area: main;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
    justify-content: flex-start;
    align-content: space-around;
}


.social-midia{
    grid-area: footer;
    display: flex;
    justify-content: center;
    background: rgb(160, 212, 235);
    opacity: 0.7;
    
}

.linkin{
    margin-right: 30px;
}

.linkin, .github{
    font-size: 25px;
    padding: 3px;
}

.app-name{
    font-family: 'Nunito Sans';
    font-size: 50px; ;
    font-weight: 800;
    color: white;
    padding-top: 80px;
    text-shadow: 4px 4px 6px rgb(196, 192, 193);
    margin-bottom: 30px;
}

.home-login, .home-signup, {
    font-size: 1em;
    font-weight: 600;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    display:inline-block;
    margin: 10px;
    padding:15px 10px 0 0;
}

.home-logout{
    font-size: 1em;
    font-weight: 600;
    color: black;
    font-family: 'Nunito Sans', sans-serif;
    display:inline-block;
    margin: 10px;
    padding: 15px;

}

.home-logout-splash{
    font-size: 1em;
    font-weight: 600;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    display:inline-block;
    margin: 10px;
    padding: 15px;


}
.nav-login{
    border-bottom: 5px solid transparent;
    margin-right: 5px;
    height: 70px;
}

.nav-signup{
    border-bottom: 5px solid transparent;
    height: 70px;
}
.nav-login:hover{
     border-bottom: 2px solid white;
}

.nav-signup:hover{
    border-bottom: 2px solid white;
}

button:hover{
    cursor: pointer;
}

.home-page-button{
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: white;
    z-index: 10;
    border-bottom: 1px solid #EBEBEB;
}


.home-page-button-greeting, .home-page-greeting-splash{
    grid-area: header;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.home-nav{
    // position: fixed;
    display: flex;
}


.home-page-greeting{
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: white;
    z-index: 2;
    border-bottom: 1px solid #EBEBEB;
}

.welcome-top{
    display: flex;
}

.welcome{
    font-size: 1em;
    font-family:'Nunito Sans', sans-serif;
    margin: 10px;
    padding: 15px;
    color: red;
}

.welcome-splash{
    font-size: 1em;
    font-family:'Nunito Sans', sans-serif;
    margin: 25px;
    color: white;
    padding-top: 15px;
}


.home-page-search{
    display: flex;
    // justify-content: center;
}

.search-input{
    width:450px;
    height: 50px;
    margin-right: 20px;
    font-family:'Nunito Sans', sans-serif;
    padding-right: 100px;
    padding: 10px;
    font-size: 20px;
}

.search-button{
    width: 50px;
    background:  rgb(255, 90, 95);
    font-family: 'Nunito Sans',sans-serif;
    color: white;
    font-weight: 900;
    padding: 10px;
    font-size: 35px;
    text-align: center;
    border-radius: 5px;
}


.home-icon{
    background:white;
    display: flex;
    margin-right: 10px;
    border-radius: 5px;
}

.home-icon i {
    font-size: 30px;
    padding: 20px;
    color:gray;
}

.logo-png{
    background: image_url("logo-1.png");
    width: 80px;
    background-size: 80px;
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 20px;
}


.spots-logo-png{
    background: image_url("logo-1.png");
    width: 80px;
    background-size: 80px;
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 20px;
    height: 80px;
}


