
.home-page {
    background-image: url(https://images.pexels.com/photos/1430677/pexels-photo-1430677.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    /* background-image: url(https://images.pexels.com/photos/417063/pexels-photo-417063.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260); */
    /* background-image: url(https://images.pexels.com/photos/457881/pexels-photo-457881.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260); */
    /* background-image: url(https://images.pexels.com/photos/669964/pexels-photo-669964.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
}

.app-name{
    font-family: 'Damion', cursive;
    font-size: 9em ;
    font-weight: 800;
    color: beige;
    padding-top: 40px;
    padding-left: 30px;
}

.home-login, .home-signup, .home-logout{
    font-size: 1.95em;
    font-weight: 600;
    color: rgb(86, 235, 240);
    padding-right: 25px;
    font-family: 'Damion', cursive;
}

button{
    cursor: pointer;
}

.home-page-button{
    display: flex;
    justify-content: flex-end;
}

.home-page-greeting{
    display: flex;
    justify-content: space-between;
}


.welcome{
    font-size: 40px;
    font-family: 'Damion', cursive;
    padding: 10px 0 0 30px;
    color: rgb(86, 235, 240);
}


.home-page-search{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.search-input{
    background-color: palegoldenrod;
}