
.home-page {
    background: image_url("tower.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
}

.app-name{
    font-family: 'Nunito Sans';
    font-size: 6.5em ;
    font-weight: 800;
    color: white;
    padding-top: 80px;
    padding-right: 500px;
    text-align: center;
    text-shadow: 4px 4px 6px rgb(196, 192, 193);
}

.home-login, .home-signup, .home-logout{
    font-size: 1em;
    font-weight: 600;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    display:inline-block;
    margin: 10px;
    padding: 15px;
}
.nav-login{
    border-bottom: 5px solid transparent;
}
.nav-login:hover{
     border-bottom: 3px solid rgb(160, 160, 160);
}

button:hover{
    cursor: pointer;
}

.home-page-button{
    display: flex;
    justify-content: space-between;
}

.home-nav{
    display: flex;
}


.home-page-greeting{
    display: flex;
    justify-content: space-between;
}


.welcome{
    font-size: 30px;
    font-family:'Nunito Sans', sans-serif;
    padding: 20px 0 0 0;
    color: white;
    margin-right: 995px;
}


.home-page-search{
    display: flex;
    justify-content: center;
    padding: 20px;
    padding-right: 510px;
}

.search-input{
    width:450px;
    height: 50px;
    margin-right: 20px;
    font-family:'Nunito Sans', sans-serif;
    padding-right: 100px;
    padding: 10px;
    font-size: 20px;
}

.search-button{
    width: 100px;
    background: pink;
    font-family: 'Nunito Sans',sans-serif;
    color: white;
    font-weight: 900;
    padding: 10px;
    font-size: 25px;
    text-align: center;
}


.home-icon{
    background:white;
    display: flex;
}

.home-icon i {
    font-size: 30px;
    padding: 20px;
    color:gray;
}

.logo-png{
    background: image_url("logo.png");
    width: 80px;
    background-size: 80px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 40px;
}