
 .login-form-container {
   display: flex;
   justify-content: center;
   padding: 30px;
 }

 .modal-logo{
     padding: 20px;
     font-size: 30px;
     font-family: Arial, Helvetica, sans-serif;
     text-align: center;
 }

 .modal-title{
     text-align: center;
     color: gray;
     font-size: 20px;
     font-family: Arial, Helvetica, sans-serif;
     border: 1px solid rgb(235, 235, 235);
     width: 400px;
     padding: 20px;
 }

 .modal-word{
     font-size: 20px;
     font-family: Arial, Helvetica, sans-serif;
     width: 100%;
     border: 1px solid rgb(235, 235, 235);
     padding: 20px;
 }


 .login-form {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin: 10px;
 }

 .login-input {
   width: 360px;
   padding: 20px;
   
 }

 
 .login-form-box {
   padding: 20px;
   background: white;
   position: relative;
 }

 .modal-footer{
     display: flex;
     font-size: 20px;
     font-family:  Arial, Helvetica, sans-serif;
     justify-content: center;
 }

 .footer-word{
     padding-right: 10px;
 }


.session-submit{
    cursor: pointer;
    background: rgb(255, 90, 95);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 20px;
    width: 400px;
}

.session-submit-hide{
    display: none;
}

.modal-background {
   position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.7);
   z-index: 10;
 }

 .modal-child {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 }

 .close-x {
   position: absolute;
   top: 5px;
   left: 5px;
   cursor: pointer;
   color: gray;
   font-size: 30px;
   font-family: Arial, Helvetica, sans-serif;
   
 }

.form-signup-button, .form-login-button{
    color:teal; 
}

.form-login-button:hover{
    color:teal; 
    text-decoration: underline;
}

.form-signup-button:hover{
    color:teal; 
    text-decoration: underline;
}

.input-form-icon{
    display: flex;
    border: 1px solid rgb(235, 235, 235);
}


.input-form-icon i {
    align-self: center;
    padding-right: 20px; 
}

.input-form-icon:hover{
    border: 1px solid teal;
}