.show-container{
    position: relative;
}

.spot-pictures{
    padding-top:90px;
    display: flex;
    width: 100%;
    height: 550px;


}

h2{
    font-family: 'Nunito Sans', sans-serif;
    padding-left: 20px;
}

.name-group{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.small-pix-group{
    display: flex;
    flex-direction: column;
   
}

.small-pix{
    display: flex;
    overflow: hidden;
}

.large{
    border-radius: 0;
    height:100%;
    width: 100%;
}

.large-pix, .small-pic{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.large-pix-container, .small-pic-container{
    height:100%;
    width: 100%;
    overflow: hidden;
}

.filter-rate-range{
    padding-left: 20px;
}

p{
    font-size: 14px;
    font-family: 'Nunito Sans', sans-serif;
}

.price-filter-bar{
    padding-left: 25px;
}

.large:hover{
    transition: transform 435ms;
    transform: scale(1.05);
    filter: brightness(110%);
}

.small1, .small2, .small3, .small4{
    transition: transform 435ms;
    border-radius: 0;
}



.small-pic img:hover{
    transform: scale(1.05);
    filter: brightness(110%);
}

.spot-info-container{
   margin: 0px;
   display: grid;
   width: auto;
   grid-template-columns: 1fr 1fr;
   padding-left: 200px;
   padding-right:200px;
   justify-items: center;
}

.spot-detail-container{
    display: flex;
    flex-direction: column;
    width: 58.333333333333336%;
    min-width: 618px;
}

.booking-container{
    font-family: 'Nunito Sans', sans-serif;
    width: 330px;
    height: 500px;
    padding-left: 24px ;
    padding-right: 24px ;
    margin: 0px ;
    border: 1px solid #e4e4e4;
    margin-top: 50px;
    position: sticky;
    top: 100px;
}


.spot-detail-title{

    font-family: 'Nunito Sans', sans-serif;
    font-size: 32px ;
    font-weight: 800 ;
    line-height: 1.125em; 
    color: #484848 ;
    padding-top: 6px ;
    padding-bottom: 6px ;
  
}
.spot-detail-des{
    height: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px; 
    font-weight: 400; 
    line-height: 1.375em; 
    color: #484848; 
    border-bottom: 1px solid #EBEBEB;
}

.spot-detail-ame{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px ;
    font-weight: 800 ;
    line-height: 1.375em ;
    color: #484848 ;

}
.ame-detail-group{
    font-family: 'Nunito Sans', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 14px;
    line-height: 1.43;
    color: #484848;
}
.ame-group, {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #EBEBEB;
    justify-content: space-evenly;
    height: 150px;
}

.pol-group{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #EBEBEB;
    justify-content: space-evenly;
    height: 150px;
}


.rules ul li{ 
    font-size: 16px ;
    font-weight: 400 ;
    line-height: 1.375em ;
    color: #484848 ;
}

.sleep-group{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #EBEBEB;
    justify-content: space-evenly;
    height: 200px;
}

.left-ame, .right-ame{
    display: flex;
    flex-direction: column;
}
.wifi, .coffee, .shower, .laptop{
    display: flex;
    font-size: 16px ;
    font-weight: 400 ;
    line-height: 1.375em ;
    color: #484848 ;
}
.ame-detail-group i {
    font-size: 14px;
    line-height: 1.43;
    color: #484848;
    height: 19px;
    width: 19px;
    padding: 2px;
}

.spot-detail-sleep{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px ;
    font-weight: 800 ;
    line-height: 1.375em ;
    color: #484848 ;
    padding-bottom: 20px; 
}

.bed-group{
    font-family: 'Nunito Sans', sans-serif;
    border: 1px solid #EBEBEB ;
    border-radius: 4px ;
    padding: 24px ;
    width: 20% ;
}

.bed-group div{
    font-size: 16px ;
    font-weight: 600 ;
    line-height: 1.375em ;
    color: #484848
}

.bed-group div p{
    font-size: 16px ;
    font-weight: 400 ;
    line-height: 1.375em ;
    color: #484848
}

.bed-group i{
    height: 24px;
    width: 24px;
    font-size: 25px;
    color: #484848;
    padding-bottom: 25px;
}
.sleep-group{
    padding-top: 15px;
    padding-bottom: 15px;
}
.spot-detail-ava{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px ;
    font-weight: 800 ;
    line-height: 1.375em ;
    color: #484848 ;
    border-bottom: 1px solid #EBEBEB;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.spot-detail-reviews{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px ;
    font-weight: 800 ;
    line-height: 1.375em ;
    color: #484848 ;
    border-bottom: 1px solid #EBEBEB;
    height: auto;
}
.spot-detail-review{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 24px ;
    font-weight: 800 ;
    line-height: 1.25em ;
    color: #484848 ;
    padding-top: 2px ;
    padding-bottom: 2px ;
    height: 40px;
}

#star{

    font-size:16px;
    line-height: 1.43;
    color: teal;

}

.review-star{

    display:flex;
     border-bottom: 1px solid #EBEBEB;
}

.show-rating{
    padding-left: 10px; 
    padding-top: 5px;
}

.map-group{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 900px;
    border-bottom: 1px solid #EBEBEB;
    overflow: scroll;
}
.map-title{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 24px ;
    font-weight: 800 ;
    line-height: 1.25em ;
    color: #484848 
}
.spot-detail-pol{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 24px ;
    font-weight: 800 ;
    line-height: 1.25em ;
    color: #484848 ;
    padding-top: 2px ;
    padding-bottom: 2px ;
}

.rules{
    display: flex;
    flex-direction: column;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px ;
    font-weight: 800 ;
    line-height: 1.375em ;
    color: #484848 ;
    justify-content: space-evenly;
    height: 100px;
}

.spot-detail-pol ul li{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px; 
    font-weight: 400; 
    line-height: 1.375em; 
    color: #484848; 
}

.spot-detail-type{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 12px ;
    font-weight: 800 ;
    line-height: 1.3333333333333333em;
    color:#03150d;
}

.spot-detail-city{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px ;
    font-weight: 400 ;
    line-height: 1.375em ;
    color: #484848 ;
}

.spot-detail-title-group{
    display: flex;
    height: 200px;
    justify-content: space-between;
    border-bottom: 1px solid #EBEBEB;
    padding-top: 30px;
}

.user-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 25px;
}

.title-group{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly
}

.host-name{
    font-family: 'Nunito Sans', sans-serif;
    padding-bottom: 30px;
}