.main-container{
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    flex-direction: column;
    padding-top: 40px;
    width: 65%;
}


.index-title{
    font-size: 24px;
    line-height: 30px;
    font-family:'Nunito Sans', sans-serif;
    padding: 20px;
    color:rgb(72, 72, 72);
    font-weight: 800;
    letter-spacing: normal;
    padding: 2px 0 2px 10px;
    margin-bottom: 0px;

}

.nav-login-button, .nav-signup-button{
    font-size: 1em;
    font-weight: 600;
    color: rgb(72, 72, 72);
    font-family: 'Nunito Sans', sans-serif;
    display:inline-block;
    margin: 10px;
    padding: 15px;

}


.nav-login-button:hover{
     border-bottom: 2px solid rgb(72, 72, 72);;
}

.nav-signup-button:hover{
    border-bottom: 2px solid rgb(72, 72, 72);;
}


.index-page-container{
    display: flex;
    padding-top: 190px;
    width: auto;
}



.filter{
    position: fixed;
    margin-top:80px;
    height: 100px;
    padding-top: 10px;
    border: 1px solid rgb(235,235,235);
    font-family: 'Nunito Sans', sans-serif;
    background: white;
    width: 100%;
    z-index: 1;

}


.filter-form{
    position: relative;
}



.index-map-container{
    position: relative;
    overflow: hidden;
}
.index-map{
    position: fixed;
    font-family: 'Nunito Sans', sans-serif;
    height: 100vh;
    width:100%;
}



.homes-column{
    display: flex;
    flex-direction: column;
    height: auto;
    padding-top: 20px;
    // width: 80%;
}



.homes-lists{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.homes-list-add{
    display: flex;
    flex-wrap: wrap;
    margin-right: 5px;
}

.homes-des{
    display: flex;
    flex-direction: column;
    margin: 7px;
}

img{
    border-radius: 8px;
    width: 450px;
    height:300px;
}   


.index-page-search{
    display: flex;
    padding: 10px;
}

.index-logo-search{
    display: flex;
}

.index-search-input{
    // width:300px;
    font-family:'Nunito Sans', sans-serif;
    color:#484848;
    font-size: 17px;
    font-weight: 800;
    width: 400px;
    text-overflow: ellipsis;
}

.index-search-icon{
    background:white;
    display: flex;
    border-radius: 4px;
    border: 1px solid #EBEBEB ;
    // padding: 5px;
    // margin-top: 5px;
    height: 48px;
    transition: box-shadow 200ms ease-in ;
    transition-property: box-shadow ;
    transition-duration: 200ms ;
    transition-timing-function: ease-in ;
    transition-delay: 0s ;
}

.index-search-icon:hover{
     box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}


.index-search-icon i {
    font-size: 20px;
    padding: 15px;
    color:#484848;
}

.home-pic{
    display: flex;
    position: relative;
}

.far{
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-size: 30px;
}

.far:hover{
    cursor: pointer;
}

@media (max-width: 800px){
    .index-page-container{
    display: flex;
    padding-top: 130px;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    }
}


.index-spot-type{
    color: rgb(118, 118, 118);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 12px;
    font-weight: 800;
    line-height: 1.33333em;
}

.index-spot-title{
    font-size: 16px;
    font-weight: 800;
    line-height: 1.375em;
    color:rgb(72, 72, 72);
    font-family: 'Nunito Sans', sans-serif;
}

.index-spot-info{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    padding-top: 10px;
}

.fas{
    font-size: 8px;
    color:teal;
}

.map{
    width: 460px;
    height: 100vh;
}

.index-page-greeting-nav{
    display: flex;
}

.hidden-map{
    display: none;
}


.no-result{
    font-size: 24px;
    line-height: 30px;
    font-family:'Nunito Sans', sans-serif;
    padding: 20px;
    color:rgb(72, 72, 72);
    font-weight: 600;
    letter-spacing: normal;
    padding: 2px 0 2px 10px;
    margin-bottom: 0px;
}

.trip{
    font-size: 1em;
    font-weight: 600;
    color: black;
    font-family: 'Nunito Sans', sans-serif;
    display:inline-block;
    margin: 10px;
    padding: 15px;
}

.index-spot-rate{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px ;
    font-weight: 400 ;
    line-height: 1.28571em ;
    color: rgb(72, 72, 72)

}

.rc-slider {
  position: relative;
  height: 14px;
  padding: 5px 0;
  width: 50%;
  border-radius: 6px;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rc-slider * {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rc-slider-rail {
  position: absolute;
  width: 100%;
  background-color: #e9e9e9;
  height: 4px;
  border-radius: 6px;
}

.rc-slider-track {
  position: absolute;
  left: 0;
  height: 4px;
  border-radius: 6px;
  background-color: #abe2fb;
}
.rc-slider-handle {
  position: absolute;
  margin-left: -7px;
  margin-top: -5px;
  width: 14px;
  height: 14px;
  cursor: pointer;
  cursor: -webkit-grab;
  cursor: grab;
  border-radius: 50%;
  border: solid 2px #96dbfa;
  background-color: #fff;
}
.rc-slider-handle:hover {
  border-color: #57c5f7;
}
.rc-slider-handle:active {
  border-color: #57c5f7;
  box-shadow: 0 0 5px #57c5f7;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.rc-slider-mark {
  position: absolute;
  top: 18px;
  left: 0;
  width: 100%;
  font-size: 12px;
}
.rc-slider-mark-text {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  color: #999;
}
.rc-slider-mark-text-active {
  color: #666;
}
.rc-slider-step {
  position: absolute;
  width: 100%;
  height: 4px;
  background: transparent;
}
.rc-slider-dot {
  position: absolute;
  bottom: -2px;
  margin-left: -4px;
  width: 8px;
  height: 8px;
  border: 2px solid #e9e9e9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 50%;
  vertical-align: middle;
}
.rc-slider-dot:first-child {
  margin-left: -4px;
}
.rc-slider-dot:last-child {
  margin-left: -4px;
}
.rc-slider-dot-active {
  border-color: #96dbfa;
}
.rc-slider-disabled {
  background-color: #e9e9e9;
}
.rc-slider-disabled .rc-slider-track {
  background-color: #ccc;
}
.rc-slider-disabled .rc-slider-handle,
.rc-slider-disabled .rc-slider-dot {
  border-color: #ccc;
  box-shadow: none;
  background-color: #fff;
  cursor: not-allowed;
}
.rc-slider-disabled .rc-slider-mark-text,
.rc-slider-disabled .rc-slider-dot {
  cursor: not-allowed !important;
}
.rc-slider-vertical {
  width: 14px;
  height: 100%;
  padding: 0 5px;
}
.rc-slider-vertical .rc-slider-rail {
  height: 100%;
  width: 4px;
}
.rc-slider-vertical .rc-slider-track {
  left: 5px;
  bottom: 0;
  width: 4px;
}
.rc-slider-vertical .rc-slider-handle {
  margin-left: -5px;
  margin-bottom: -7px;
}
.rc-slider-vertical .rc-slider-mark {
  top: 0;
  left: 18px;
  height: 100%;
}
.rc-slider-vertical .rc-slider-step {
  height: 100%;
  width: 4px;
}
.rc-slider-vertical .rc-slider-dot {
  left: 2px;
  margin-bottom: -4px;
}
.rc-slider-vertical .rc-slider-dot:first-child {
  margin-bottom: -4px;
}
.rc-slider-vertical .rc-slider-dot:last-child {
  margin-bottom: -4px;
}
.rc-slider-tooltip-zoom-down-enter,
.rc-slider-tooltip-zoom-down-appear {
  -webkit-animation-duration: .3s;
          animation-duration: .3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  display: block !important;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.rc-slider-tooltip-zoom-down-leave {
  -webkit-animation-duration: .3s;
          animation-duration: .3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  display: block !important;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.rc-slider-tooltip-zoom-down-enter.rc-slider-tooltip-zoom-down-enter-active,
.rc-slider-tooltip-zoom-down-appear.rc-slider-tooltip-zoom-down-appear-active {
  -webkit-animation-name: rcSliderTooltipZoomDownIn;
          animation-name: rcSliderTooltipZoomDownIn;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
.rc-slider-tooltip-zoom-down-leave.rc-slider-tooltip-zoom-down-leave-active {
  -webkit-animation-name: rcSliderTooltipZoomDownOut;
          animation-name: rcSliderTooltipZoomDownOut;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
.rc-slider-tooltip-zoom-down-enter,
.rc-slider-tooltip-zoom-down-appear {
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
  -webkit-animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
          animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}
.rc-slider-tooltip-zoom-down-leave {
  -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
          animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
}

.filter-rate-range{
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.price-filter-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100px;
}

.clear-filter-button{
    display: none;
}

.price-filter-title{
    margin-bottom: 10px;
}

@media (min-width: 1900px){
.map {
    width: 620px;
}
.homes-lists{
    width: 50%;
}
}


