.show-container{
    position: relative;
}

.spot-pictures{
    padding-top:150px;
    display: flex;
    width: 100%;
    height: 500px;


}

.small-pix-group{
    display: flex;
    flex-direction: column;
   
}

// .small-pix:hover{
//      transform: scale(1.05);
//     filter: brightness(110%);
// }

.small-pix{
    display: flex;
  
}

.large{
    border-radius: 0;
    height:100%;
    width: 100%;
    transition: transform 435ms;
}

.large-pix, .small-pic{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.large-pix-container, .small-pic-container{
    height:100%;
    width: 50%;
    overflow: hidden;
}


.large:hover{
    transform: scale(1.05);
    filter: brightness(110%);
    cursor: pointer;
}

.small1, .small2, .small3, .small4{
    transition: transform 435ms;
    border-radius: 0;
}

.small-pic img:hover{
    transform: scale(1.05);
    filter: brightness(110%);
    cursor: pointer;
}

.spot-info-container{
   margin: 0px;
   display: grid;
   width: auto;
   grid-template-columns: 1fr 1fr;
   padding-left: 24px;
   padding-right:24px;
}

.spot-detail-container{
    display: flex;
    flex-direction: column;
}

.booking-container{
    background: papayawhip;
}


.spot-detail-title{

    font-family: 'Nunito Sans', sans-serif;
    font-size: 32px ;
    font-weight: 800 ;
    line-height: 1.125em; 
    color: #484848 ;
    padding-top: 6px ;
    padding-bottom: 6px ;
    border-bottom: 1px solid #EBEBEB;
}
.spot-detail-des{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px; 
    font-weight: 400; 
    line-height: 1.375em; 
    color: #484848; 
    border-bottom: 1px solid #EBEBEB;
}

.spot-detail-ame{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px ;
    font-weight: 800 ;
    line-height: 1.375em ;
    color: #484848 ;
    border-bottom: 1px solid #EBEBEB;
}

.spot-detail-sleep{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px ;
    font-weight: 800 ;
    line-height: 1.375em ;
    color: #484848 ;
    border-bottom: 1px solid #EBEBEB;
}

.spot-detail-ava{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px ;
    font-weight: 800 ;
    line-height: 1.375em ;
    color: #484848 ;
    border-bottom: 1px solid #EBEBEB;
}
.spot-detail-reviews{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px ;
    font-weight: 800 ;
    line-height: 1.375em ;
    color: #484848 ;
    border-bottom: 1px solid #EBEBEB;
}
.spot-detail-review{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 24px ;
    font-weight: 800 ;
    line-height: 1.25em ;
    color: #484848 ;
    padding-top: 2px ;
    padding-bottom: 2px ;
    border-bottom: 1px solid #EBEBEB;
}

#star{

    font-size:16px;
    line-height: 1.43;
    color: teal;

}

.review-star{

    display:flex;
}

.index-rating{
    align-self: center;
    padding-left: 10px; 
}

.spot-detail-pol{
    font-family: 'Nunito Sans', sans-serif;

    font-size: 24px ;
    font-weight: 800 ;
    line-height: 1.25em ;
    color: #484848 ;
    padding-top: 2px ;
    padding-bottom: 2px ;
}

.rules{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px ;
    font-weight: 800 ;
    line-height: 1.375em ;
    color: #484848 ;
}

.spot-detail-pol ul li{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px; 
    font-weight: 400; 
    line-height: 1.375em; 
    color: #484848; 
}
